

    <link rel="stylesheet" href="./css/esilo.css">
    <header id="encabezado">
        <a href="#" class="logo">Software UAA-PROT</a>
     <ul>
          <li><a href="#" class="active">Inicio</a></li>
          <li><a href="/acerca_de">Acerca de..</a></li>
          <li><a href="/ayuda">Ayuda</a></li>
          <li><a href="/contacto">Contacto</a></li>
     </ul>
    </header>
   
    
    <div id="conenedor_archivos">

      <!-- <input  type="file" class="entrada_archivo" /> -->
     <!--  <a class="boton_seleccionar" href="/procesamiento">Empezar a Trabajar</a> -->
     

     <a class="Instruccion_1" href="#">Para poder trabajar con los archivos de C++ <br>
       ocupamos porcesar tu cluster de datos<br>agregelo en el siguiente apartado</a>

       <a class="Instruccion_2" href="#">Al procesar su cluster se generara un archivo <br>
        dicho archivo es para trabajar con el resto de programas<br></a>

      <form class="boton_seleccionar2" action="/api/python" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required accept=".csv"/>
        <input type="submit" value="Procesar información" name="submit">
      </form>

      <a class="boton_seleccionar3" href="/api/cpp" download> Descargar los archivos C++ </a>    
     
    </div>
    

    <!-- <div>
      <a class="boton_subir" aria-current="page" href="/archivo">Subir archivo</a>
      
    </div>-->
    

    <div id="contenedor1">
      <h3>Análisis de cluster</h3>
      <p>Objetivo general: 
        Integrar los módulos de preprocesamiento para los análisis de datos bioinformáticos, de la metodología basada en mejores aciertos bidireccionales, mediante un desarrollo web para el procesamiento de la información incorporado al software UAA-PROT sobre un servidor web.
        </p>
        
<p>

 
       
</p>
        
    </div>
    <div>
        <img id="investigador" src="./img/10.png"/>
       
          <a href="https://www.ncbi.nlm.nih.gov/"><img id="NCBI" src="./img/NCBI.png"/></a>
          <a href="https://www.uaa.mx/portal/"><img id="UAA" src="./img/uaa.gif"/></a>
         <a href="https://www.uaa.mx/portal/nuestra-universidad/centros-academicos-2/centro-de-ciencias-basicas/"><img id="CCB"  src="./img/CCB-icon.png"/></a>

       
        
    </div>
    