<link rel="stylesheet" href="./css/cerebro.css">

<h1>Es Hora de Procesar tus datos para el avance de la Bioinformatica</h1>

<!--Primero vamos a dar la oportunidad de cargar el .csv para empezar a trabajar el python-->


<div id="archivo1">
    <h2>Primero es el programa de python</h2>
    <input  type="file" class="entrada_archivo" />
</div>


<div id="archivo2">
    <h2>Fasta Counter v1.0</h2>
    <input  type="file" class="entrada_archivo" />
</div>

<div id="archivo3">
    <h2>Best Hit E-Value Filter v2.0</h2>
    <input  type="file" class="entrada_archivo" />
</div>

<div id="archivo4">
    <h2>Bidireccional Best Hit Parser v3.0</h2>
    <input  type="file" class="entrada_archivo" />
</div>