<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Login UAA-PROT</title>
    <link type="text/css" rel="stylesheet" href="./css/index.css">
</head>
<body background="img/bg.jpg">
    <div class="login-box">
        <img class="avatar" src="img/39011.gif" alt="Logo de gallo">
        <h1>UAA-PROT</h1>
        <form>
            <label for="username">Correo Electronico</label>
            <input type="text" placeholder="aluguien@correo.com">

            <label for="pasword">Contraseña</label>
            <input type="password" placeholder="micontra">

            
            <a class="entrar" href="/home">Entrar</a>

            <a class="forget" href="#">Olvide mi contraseña</a><br><br>
            <a class="registration" href="/registro">Registrese aqui</a>
        </form>
    </div>

   
    
</body>