#archivo1{
    position: relative;
    top: 100px;
}

#archivo2{
    position: relative;
    top: 200px;
    
}
#archivo3{
    position: relative;
    top: 300px;
    
}
#archivo4{
    position: relative;
    top: 400px;
    
}
