<%- include("templates/cabecera") %> 

<link rel="stylesheet" href="./css/estilo_acerca.css">
    <h1>Acerca de el presente proyecto</h1>

    <div id="contenedor_acercade1">
        <a style="color:#ffffff">El procesamiento de datos biológicos está en constante evolución sobre<br> nuestro mundo a de encontrar soluciones a problemas<br> en organismos que pueden afectar al ser humano.<br><br> Con la aparición de nuevas tecnologías se empieza una gran recopilación<br> de datos biológicos las cuales se encuentran en bases de datos.<br><br> Los datos suelen clasificarse en cuatro tipos que serían datos estructurales,<br> datos funcionales, secuencias biológicas y bibliografías.
            <br>Dada la situación actual de la pandemia de COVID-19 se hace necesario<br> aportar en el estudio de organismos similares al SAR-COV-2.<br><br> Por esta razón se trabajará<br> con datos de la familia de los coronavirus conocida como coronaviridae<br> un total de 198 organismos. Para ellos se obtendrá como resultado distancias<br> entre organismos así como los árboles filogenéticos correspondientes.<br><br> Todo esto en el contexto del proyecto de COVID de la<br> Universidad Autónoma de Aguascalientes
            </a>
    </div>
    
    <img id="fondo" src="./img/19366.jpg"/>

<%- include("templates/footer") %> 