<%- include("templates/cabecera") %> 

<link rel="stylesheet" href="./css/ayudacss.css">
    <h1>Seccion de ayuda </h1>
    <a id="listado"> 
        La versión preliminar se usa <br>de la siguiente manera: <br><br>
        1. Obtener un cluster de algun organizmo<br> en la pagina oficial del NCBI al cual<br> se puede acceder presionando el icono<br> que esta en la parte inferior<br> de la pagina de inicio.<br><br> 
        2. Se nececitan los archichivos <br>de del modulo ftpdownloader-master. <br><br>
        3.  Fasta Counter v1.0<br><br>
        4. Best Hit E-Value Filter v2.0<br><br>
        5. Bidireccional Best Hit Parser v3.0<br><br>
    </a>

    
    
        <img id="fondo" src="./img/19366.jpg"/>
      
   

<%- include("templates/footer") %> 